body{
    margin: 0;
    padding: 0;
    background-color: rgb(248, 248, 248);
}

#profileImg{
    border-radius: 50%;
    margin-left: 20%;
    margin-top: -10px;
}

#nameHeading{
    display: inline;
    margin-left: 15px;
}

#top{
    padding: 20px 0;
    border-bottom: 1px solid;
}

.col-md-4 {
    margin-top: 32px !important;
}


